<div class="content-container">
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Vincent Goles Ontuca</mat-card-title>
          <mat-card-subtitle>3rd Year IT Student</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image class="content-image"></div>
        <mat-card-content>
          <p>
            My Name is Vincent Goles Ontuca. I live in San Roque, Sta. Fe, Leyte.
            I want to be a Web Developer someday.
          </p>
        </mat-card-content>
    </mat-card>
</div>

