<div class="content-container">
    <div class="text">
        <h1>Hello! My Name is <span><b>Vincent Goles Ontuca</b></span></h1>
        <h2>Third Year <span>Information Technology</span> Student at</h2>
        <h2>Eastern Visayas State University</h2>
    </div>
    <div class="links">
        <a href="https://github.com/chicken3d-Out" target="_blank" title="Github"><i class="fab fa-github"></i></a>
        <a href="www.facebook.com/vincentgolesontuca" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="vincent.ontuca@evsu.edu.ph" target="_blank" title="Gmail"><i class="far fa-envelope"></i></a>
    </div>
    
</div>

