<div class="content-container">
    <div class="card-container">
        <mat-card class="contacts-header"><mat-card-title>Contact Me@</mat-card-title></mat-card>
        <mat-card>
            <mat-card-title>GitHub</mat-card-title>
            <mat-card-subtitle>@chicken3d-Out</mat-card-subtitle>
            <mat-card-content>
            <p>Let's work on a project together!</p>
            <p>....</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Facebook</mat-card-title>
            <mat-card-subtitle>@vincentgolesontuca</mat-card-subtitle>
            <mat-card-content>
            <p>Direct message me if you have concerns.</p>
            <p>....</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Gmail</mat-card-title>
            <mat-card-subtitle>vincent.ontuca@evsu.edu.ph</mat-card-subtitle>
            <mat-card-content>
            <p>You can also contact me thru my EVSU mail.</p>
            <p>....</p>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
