/* Default */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
/* Card */
.card-container {
    display: flex;
    flex-direction: column;
    gap:15px;
    width:30%;
}
.contacts-header {
    background-color: rgb(47, 158, 47);
}