<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="side-content">
            <div class="contentHeader">
                <div class="bar"></div>
                <div class="header">
                    <div><mat-icon>turned_in</mat-icon></div>
                    <div><b>My Portfolio</b></div>
                </div>
                
            </div>
            <div class="content">
                <a routerLink="/home">
                    <div><mat-icon>home</mat-icon></div>
                    <div>Home</div>
                </a> 
            </div>
            <div class="content">
                <a routerLink="/contacts">
                    <div><mat-icon> call</mat-icon></div>
                    <div>Contacts</div>
                </a>
            </div>
            <div class="content">
                <a routerLink="/gallery">
                    <div><mat-icon>perm_media</mat-icon></div>
                    <div>Gallery</div>
                </a>
            </div>
        </div>
    </mat-drawer>
    <mat-toolbar class="toolbar">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon class="ham">view_headline</mat-icon>
        </button>
    </mat-toolbar>
    <div class="contents">
        <router-outlet></router-outlet>
    
    </div>
</mat-drawer-container>